* {margin:0; padding:0;}
html {
    font-size:14px;
    font-family:sans-serif;
}
body {
    background:#000;
}

li {
    list-style:none;
    display:inline-block;
    margin:0 10px;    
}

a { 
    color:#fff;
    text-decoration: none;
}

#bar {
    position:relative;
    left:-100%;
    transition:left 1s;
}

h1 { 
    padding:5px; height:1rem; 
    background:#111;
    color:#fff;
    font-size:1rem;
}
#paint {
    background:#FFF;
    vertical-align:bottom;
}
footer {
    position:fixed;
    bottom:0px;
    left:0;
    right:0;
    transition:bottom 1s;
    white-space: nowrap;
    
}

footer.show {
    bottom:0; 
    overflow:scroll;
}

pen {
    width:30px;
    height:30px;
    display:inline-block;
    margin:5px;
    border-radius:50%;
    transition:all 0.5s;
    position:relative;
    left:-1000px;
    }

footer.show pen {
    left:0;
}

pen.active {
    transform:scale(0.5);
    position:absolute; 
    left:0;
    top:0px;
} 
